# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs & ts cache
dist
*.tsbuildinfo

# Runtime Uploads & Data storage (di-ignore agar tidak ikut ter-copy ke image build)
uploads
document-storage
data
logs

# Environment files
.env
.env.*
!.env.example

# Git & IDE configs
.git
.gitignore
.vscode
.idea

# Postman & Docs
*.postman_collection.json
README.md
